<!--   Body Section   -->
<div class="container">
    <div class="row mb-5">
        <a href="/" class="btn btn-success">Go Back</a>
    </div>


    <div class="container party-wrapper">
  <div class="row">
    <div class="h1bkgrd">
      <h1>{{party.eventName}}</h1>
    </div>
  </div>

  <div class="row">

    <div class="col-md-3 imgstyle">
      <img src="../img/danceOff.jpg">
      <button id="confirm-attendance" class="btn-two green small">confirm attendance</button>
      <p>{{> (lookup . 'partial') partyId=party.id }}</p>
    </div>
    <div class="col-md-9 party-description">
      <i class="far fa-clock"></i> <span class="time-space">{{party.eventTime}} | {{party.eventDate}}</span>
      <h1>{{party.eventName}}</h1>
      <p>{{party.eventAddress}}</p>
      <hr>

      <p class="p-description">{{party.eventDescription}}</p>

      <form class="items-to-bring">
        <input type="text" class="form-control" placeholder="item name" id="item-name">
        <input type="text" class="form-control" placeholder="item qty" id="item-qty">
        <button type="submit" class="btn-two cyan small">submit</button>
      </form>
    </div>
  </div>
</div>

<script>
    const randomTexts = [
        '<h1>First Content</h1>',
        '<h1>Second Content</h1>',
        '<h1>Third Content</h1>'
    ];

    //console.log('loc parts', location.pathname.split("/")[2])
    const partyId = location.pathname.split("/")[2];
    const randomText = randomTexts[partyId - 1] //randomTexts[Math.floor(Math.random()*randomTexts.length)];
    //document.querySelector('#random-text').innerHTML = randomText;
</script>
