<!--   Body Section   -->
<div class="container">
    <div class="row mb-5">
        <a href="/" class="btn btn-success">Go Back</a>
    </div>
    <div>
        <button id="confirm-attendance">confirm attendance</button>
    </div>
    <form class="items-to-bring">
        <input type="text" placeholder="item name" id="item-name">
        <input type="text" placeholder="item qty" id="item-qty">
        <button type="submit">submit</button>
    </form>
    <div>
        <ul class="list-group">
            <li class="list-group-item text-center">{{> (lookup . 'partial') partyId=party.id }} </li>
            <li class="list-group-item text-center"><strong>{{party.eventName}}</strong></li>
            <li class="list-group-item float-right">{{party.eventDescription}}</li>
            <li class="list-group-item">Address: {{party.eventAddress}}</li>
            <li class="list-group-item">Date: {{party.eventDate}}</li>
            <li class="list-group-item">Time: {{party.eventTime}}</li>
        </ul>
    </div>
</div>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Item</th>
            <th>Qty</th>
        </tr>
    </thead>
    <tbody>
        <tr id="form-row">
            <form id="author-form">
                <td colspan="4">
                    <input placeholder="Enter a name" id="author-name" type="text" />
                </td>
                <td><button type="submit" class="btn btn-success">Create Author</button>
                </td>
            </form>
        </tr>
    </tbody>
</table>
<script>




    const randomTexts = [
        '<h1>First Content</h1>',
        '<h1>Second Content</h1>',
        '<h1>Third Content</h1>'
    ];

    //console.log('loc parts', location.pathname.split("/")[2])
    const partyId = location.pathname.split("/")[2];
    const randomText = randomTexts[partyId - 1] //randomTexts[Math.floor(Math.random()*randomTexts.length)];
    //document.querySelector('#random-text').innerHTML = randomText;
</script>